<!DOCTYPE html>
<!- copied with modification from Joseph Zimmerman ->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->

<div id="drop-area">
  <form class="my-form">
    <p>Drag and Drop</p>
    <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
    <label class="button" for="fileElem">Select File</label>
  </form>
</div>
<!-- partial -->
  <script  src="../static/js/script.js"></script>

</body>
</html>
